*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body{
  background-color: whitesmoke;
  width: 100vw;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

button{
  width: 67px;
  height: 24px;
  margin: 4px;
  border: none;
}

.red{
  background-color: #FEE2E2;
  color:#991B1B;
}

.yellow{
  background-color: #FEF3C7;
  color:#92400E;
}

.green{
  background-color: #D1FAE5;
  color:#065F46;
}

.blue{
  background-color: #DBEAFE;
  color:#1E40AF;
}

.indigo{
  background-color: #E0E7FF;
  color:#3730A3;
}

.purple{
  background-color: #EDE9FE;
  color:#5B21B6;
}

.pink{
  background-color: #FCE7F3;
  color:#9D174D;
}

.white{
  background-color:whitesmoke;
  color:black;
}

.pill{
border-radius: 12px;
}

.banner-Container{
  width: 100%;
  max-width: 896px;
  margin: 15px;
  padding: 18px;
  display: flex;
  align-items: flex-start;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  gap:4px;
  border-radius: 8px;
}

.banner-Container img{
  width: 16px;
  margin-top: 2px;
}

.banner-details{
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.banner-success{
  background-color: #ECFDF5;
  color:#065F46;
}

.banner-error{
  background-color:#FEF2F2;
  color: #92400E;
}

.banner-warning{
  background-color: #FFFBEB;
  color: #92400E;
}

.banner-neutral{
  background-color:#EFF6FF;
  color: #1E40AF;
}

.card-container{
  width: 100%;
  max-width: 348px;
  max-height: 208px;
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#F9FAFB;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  transition:box-shadow 0.2s ease-in-out;
}

.card-container:hover{
  box-shadow: 0 4px 25px rgba(0,0,0,0.1);
}

.icon{
  width: 48px;
  height: 48px;
  position: absolute;
  top:-10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F75FE;
  border-radius: 6px;
}

.icon img{
  width: 18px;
  height: 20px;
}

.card-container h3{
  margin-top: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.card-container p{
  padding: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #6B7280;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

